<div id="coursePage"home>
    <header id='coursePageHead' class='edge-header'></header>
    <div class='pageContent'>
        <app-aside [titles]="headings" [items]="courses" page=3></app-aside>
        <article class='mainContent'>
            <header>
                <h2 class="pageTitle">CourseWork</h2>
            </header>
            <ul class="courseDeck">
                <li class="courseItem" *ngFor="let paper of courses">
                    <h4 class="paperLink">{{paper.name}}</h4>
                    <h6 class="paperLink">{{paper.className}}</h6>
                    <h8 class="paperLink">{{paper.date}} </h8>
                    <a href={{paper.file}}><mdb-icon fas icon="file"></mdb-icon></a>
                </li>
            </ul>
        </article>
    </div>
</div>