<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">

    <mdb-navbar-brand><h1 class="headerText">Mossy Nodes</h1></mdb-navbar-brand>

    <links>
    <ul class="navbar-nav ml-auto">
        <li ngClass="item1" (click)="navClick(0)">
            <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon><h4 class="navText">Home</h4><span class="sr-only">(current)</span></a>
        </li>
        <li ngClass="item2" (click)="navClick(1)">
            <a routerLink="/portfolio" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="project-diagram"></mdb-icon><h4 class="navText">Portfolio</h4></a>
        </li>
        <li ngClass="item3" (click)="navClick(2)">
            <a routerLink="/courses" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="graduation-cap"></mdb-icon><h4 class="navText">Coursework</h4></a>
        </li>
        <li ngClass="item4" (click)="navClick(3)">
            <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="file"></mdb-icon><h4 class="navText"><a id='resumeText' href='../../assets/Resume-Damon-Rocha.pdf'>Resume</a></h4></a>
        </li>
        <li ngClass="item5" (click)="navClick(4)">
            <a routerLink="/all" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cloud-meatball"></mdb-icon><h4 class="navText">Everything</h4></a>
        </li>
        
    </ul>
    </links>
</mdb-navbar>