<div id='homePage'>
    <header id='homePageHead' class='edge-header'></header>
    <div class='pageContent'>
        <app-aside page=1></app-aside>
        <article class='mainContent'>
            <header>
                <h2 class="pageTitle">Bio</h2>
                <p id='paraMid'>{{bio}}</p>
            </header>
            <ul></ul>
            <header *ngIf='newContent.length > 0'>
                <h2 class="pageTitle">Skills</h2>
            </header>
            <div class="container">
                    <ul class="row card" *ngFor="let skills of skillsArr">
                        <li class="col-xl skills" *ngFor="let skill of skills">
                            <h4 class="headerText">{{skill.name}}<div class="levelContain"><div class="levelBar" [style.width.%]="skill.level">{{skill.level}}%</div></div></h4>
                        </li>
                    </ul>
            </div>
        </article>
    </div>
</div>