<div id='allContentPage'>
    <header id='allContPageHead' class='edge-header'></header>
    <div class='pageContent'>
        <app-aside page=1></app-aside>
        <article class='mainContent'>
            <header>
                <h2 class="pageTitle">Sort Content By</h2>
                <div class="md-form">
                    <select placeholder="Choose your option" label="Example label" class="browser-default custom-select" (change)="selectSort($event.target.value)">
                        <option *ngFor="let option of selectOptions" [value]="option.value">{{option.label}}</option>
                    </select>
                </div>
            </header>
            <app-projects *ngIf="currentOption === 'P' || currentOption === ''"></app-projects>
        </article>
    </div>
</div>

