::ng-deep #allContPageHead{
    background-image: url('../../../assets/spaceImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::ng-deep #allPageTitle{
    font-family: neon;
    font-size: 10vh;
    color: mediumturquoise; 
}

