<div id="aside">
    <div *ngIf="page == 1">
        <img id='skull' src='../../assets/asideSkullIcon.svg'/>
        <h4 class='asideHeading'>{{title}}</h4>
        <p>{{content}}</p>
        <a href={{githubLink}}><img class='asideIcon' src='../../assets/github.svg'/></a>
    </div>
    <div id="portfolioContent" *ngIf="page == 2">
        <h4 class='asideHeading'>{{title}}</h4>
        <ul>
            <li class='sideItem' *ngFor="let proj of projects" (click)="goTo(proj.name)">{{proj.name}}</li>
        </ul>
        <h4 class='asideHeading'>{{title2}}</h4>
        <ul>
            <li class='sideItem' *ngFor="let work of otherWork" (click)="goTo(work.title)">{{work.title}}</li>
        </ul>
    </div>
    <div id="courseContent" *ngIf="page == 3">
        <div>
            <h4 class='asideHeading'>Index</h4>
            <ul>
                <li class='sideItem' *ngFor="let item of items" (click)="goTo(item.name)">{{item.name}}</li>
            </ul>
        </div>
    </div>
</div>