<div id='projectPage'>
    <header id="porfolioPageHead" class='edge-header'></header>
    <div class='pageContent'>
        <app-aside title='Projects' title2='Other Work' page=2></app-aside>
        <article class='mainContent'>
            <header>
                <h2 class="pageTitle">Projects</h2>
            </header>
            <ul class="projectDeck">
                <li class="projectCard" *ngFor="let item of projects">
                    <img class="projectImg" src={{item.gi}}/>
                    <h4 class="projectHead">{{item.name}}</h4>
                    <a href={{item.repo}} class="projectLink">Repo </a>
                    <a href={{item.demo}} class="projectLink">Demo</a>
                </li>
            </ul>
        </article>
    </div>
</div>